@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100;300;400;700&family=Permanent+Marker&display=swap');

/*font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Permanent Marker', cursive;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 10px;

    .lock-scroll {
        overflow: hidden;
    }

    .app {
        background: #f4f5f6;
        font-family: 'Roboto', sans-serif;
        width: 100vw;
        min-height: 100vh;
        -ms-overflow-style: none; 
        scrollbar-width: none;
        overflow-y: scroll; 
    }

    .show {
        display: block;
    }

    .button {
        display: block;
        background: #a9333a;
        text-align: center;
        font-size: 1.4rem;
        color: #fff;
        border: none;
        cursor: pointer;

        &:hover {
            background: #ba444b;
        }
    }

    .button-wide {
        width: 80%;
        height: 30px;
        margin: 10px auto;
        font-weight: bold;
        letter-spacing: .6px;
    }

    .button.empty {
        background-color: transparent;
        border: 1px #a9333a solid;
        color: #a9333a;

        &:hover {
            border: 2px #a9333a solid;
        }
    }

    .form-button {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .bold {
        font-weight: bold;
    }

    .underline {
        padding-bottom: 2px;
        border-bottom: 1px solid #dadada;
    }

    .form-container {
        position: absolute;
        top: 50%;
    }


    .form-modal {
        position: absolute;
        width: 100%;
        height: calc(100% - 50px);
        background-color: #fff;
        z-index: 2;

        form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            width: 100%;

            .form-buttons-container  {
                width: 100%;
                padding: 0px 20px;

                li {
                    width: 100%;
                    padding: 20px 0;
                    border-top: #ddd 1px solid;
                    display: flex;
                    justify-content: center;

                    button {
                        height: 30px;
                        width: 100px;
                        margin: 0 10px;
                    }
                }
            }
        
            .form-container {
                position: static;
                padding: 0px 10px;
                display: flex;
                flex-direction: column;

                li {
                    margin: 10px 5px;
                    display: flex;
                    flex-direction: column;

                    h2 {
                        font-size: 2.2rem;
                        font-weight: 400;
                        letter-spacing: .2px;
                        margin-bottom: 10%;
                    }

                    label {
                        font-size: 1.4rem;
                        margin-bottom: 3px;
                    }

                    input {
                        font-size: 1.2rem;
                        padding: 3px 2px;
                        border: 1px solid #888;

                        &:focus {
                            outline: 1px solid #a9333a;
                        }
                    }

                    select {
                        font-size: 1.2rem;
                        padding: 3px 2px;
                        background-color: #fff;
                        border: 1px solid #888;

                        &:focus {
                            outline: 1px solid #a9333a;
                        }                        
                    }
                }
            }

            
        }
    }

    @media(min-width: 900px) {

        .app {
            display: grid;
            grid-template-areas: 
            "nav main";
            grid-template-columns: 16% 1fr;
            grid-template-rows: 1fr;
        }   

        .form-modal {
            right: 0;
            width: 26%;
            height: 100%;
            box-shadow: -2px 0px 15px 3px rgba(66, 68, 90, 1);

            form {

                .form-buttons-container {
                    
                    li {
                        padding: 25px 0;
                        justify-content: center;

                        button {
                            height: 38px;
                            width: 120px;
                            font-size: 1.5rem;
                        }
                    }
                }

                .form-container  {
                    padding: 5px 25px;

                    li {
                        margin: 12px 5px;

                        h2 {
                            font-size: 2.4rem;
                        }

                        label {
                            font-size: 1.5rem;
                            margin-bottom: 3px;
                        }

                        input {
                            font-size: 1.3rem;
                        }
                    }

                    .user-projects {
                        width: 100%;
                        height: 200px;
                        margin-top: 50px;
                        padding: 20px 0;
                        border-top: #ddd 1px solid;
                        font-size: 1.5rem;

                        .user-projects-list {
                            margin-top: 10px;

                            div {
                                margin-bottom: 5px;
                                padding: 0 5px;
                                font-size: 1.3rem;
                                width: 95%;
                                display: flex;
                                justify-content: space-between;

                                &:nth-child(1) {
                                    
                                }

                                form {
                                    width: 140px;
                                    
                                    select {
                                        background-color: #eee;
                                        border: 1px #eee solid;
                                        padding: 2px 3px;
                                        font-size: 1.1rem;
                                        letter-spacing: .2px;
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media(min-width: 1200px) {

        .app {
            grid-template-columns: 14% 1fr;
        }
    }
}