.dashboard {
    height: calc(100vh - 50px);
	width:100%;
    display: flex;
    flex-direction: column;

    .dashboard-header {
        padding: 2px 4px;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;

        h2 {
            font-size: 1.4rem;
        }
    }

    .dashboard-container {
        height: 100%;
        width:100%;
        display: flex;
        flex-direction: column;

        .dashboard-summary {
            background-color: #fff;
            height: 160px;
            margin-bottom: 20px;
            width: 100%;
            display: flex;

            .summary-diagram {
                width: 50%;
                height: 100%;
                padding: 4px 2px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-right: solid 1px #f4f5f6;
    
                p {
                    font-size: 1.6rem;
                    font-weight: 600;
                    color: #136ba5;
                }

                .chart {
                    width: 100px;
                    height: 100px;
                }
            }

            .summary-double {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                border-left: solid 1px #f4f5f6;
            }
        }

        .dashboard-content {
            height: 80%;
            width: 100%;
            padding: 5px;
            font-size: 1.2rem;
            background-color: #fff;

            h2 {
                font-size: 1.4rem;
                text-transform: uppercase;
                letter-spacing: .5px;
                font-weight: 600;
            }

            .dashboard-activity {
                height: 60px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
        }
    }

    @media(min-width: 900px) {
        height: 100vh;

        .dashboard-header {
            padding: 5px 10px;
        }

        .dashboard-container > .dashboard-summary {

            height: 240px;

            .summary-diagram {

                p {
                    font-size: 2rem;
                    padding-bottom: 12px;
                }
    
                .chart {
                    width: 150px;
                    height: 150px;
                }
            }
        }
    }

    @media(min-width: 1200px) {

        .dashboard-header {
            padding: 10px 15px;

            h2 {
                font-size: 1.6rem;
            }
        }

        .dashboard-container > .dashboard-summary {

            height: 320px;

            .summary-diagram {

                p {
                    font-size: 2.4rem;
                    padding-bottom: 20px;
                }
    
                .chart {
                    width: 160px;
                    height: 160px;
                }
            }
        }
    }
}


