nav {
    grid-area: nav;       
    padding: 10px;
    height: 100%;
    background-color: #3558c2;
    color: #fff;
    display: flex;
    flex-direction: column;

    .banner {
        display: none;
    }

    .navigation {
        display: none;
        margin-bottom: 5vh;
        padding: 20px;
        display: none;

        .navigation-el {
            color: #fff;
        }
    }

    .menu-burger {
        padding: 0px 10px;
        text-align: right;
        font-size: 24px;
        line-height: 30px;

        & > .hidden {
            display: none;
        }
    }

    @media(min-width: 900px) {

        .navigation {
            display: flex;
            flex-direction: column;

            & .navigation-el {
                font-size: 1.6rem;
                line-height: 5rem;
                text-transform: uppercase;
                cursor: pointer;
    
                &:hover {
                    font-weight: bold;
                }
            }
        }

        .banner {
            margin: 0 auto;
            height: 64px;
            font-size: 3rem;
            font-family: 'Permanent Marker', cursive;
            font-weight: bold;
            display: block;
            border-bottom: 1px solid #6b84d1;
            width: 90%;
            text-align: center;
    
            & img {
                overflow: hidden;
                width: 100%;
                height: 100%;
            }
        }

        .menu-burger {
            display: none;
        }
    }

    @media(min-width: 1200px) {

        .navigation > .navigation-el {
            font-size: 2rem;
        }
    }
}  