aside {
    grid-area: aside;
    padding: 10px;
    background-color: #23272e;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .banner {
        font-size: 3rem;
        margin: 0 auto;
    }

    .navigation {
        margin-bottom: 5vh;
        padding: 20px;

        .navigation-el {
            font-size: 2rem;
            line-height: 5rem;
            text-transform: uppercase;
            cursor: pointer;
            

            &:hover {
                color: #ff6897;
            }
        }
    }
}  