aside {
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: #191919;
    color: #eee;
    position: fixed;
    padding-bottom: 50px;

    .aside-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .aside-categories, .aside-benner {
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        } 

        .aside-categories {
            flex-basis: 75%;

            .aside-link {
                width: 100%;
                padding: 1rem 0;
                font-size: 2rem;
                color: #eee;
                text-align: center;
                text-transform: uppercase;                
            }
        }

        .aside-banner {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            font-family: 'Permanent Marker', cursive;
            font-weight: bold;

            
            & > img {
                height: 64px;
                overflow: hidden;
            }
        }
    }

    @media(min-width: 900px) {

        aside {
            z-index: -1;
        }
    } 
}