aside {
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: #23272e;
    color: white;
    position: fixed;
    padding-bottom: 50px;

    .aside-link {
        font-size: 2rem;
        text-transform: uppercase;
        color: #fff;
    }

    .aside-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;

        .aside-categories, .aside-benner {
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        } 

        .aside-categories {
            flex-basis: 55%;
        }

        .aside-banner {
            display: flex;
            justify-content: center;
            align-items: center;

            
            & > img {
                height: 64px;
                overflow: hidden;
            }
        }
    }

    @media(min-width: 900px) {

        aside {
            z-index: -1;
        }
    } 
}