main {
    grid-area: main;

    .header {
        display: none;
    }

    .main-wrapper {
        height: calc(100vh - 45px);
        width: 100%;
    }

    @media(min-width: 900px) {

        .header {
            height: 45px;
            width: 100%;
            padding: 0 2.5%;
            background-color: #fff;
            box-shadow: 0px 2px 12px 1px rgba(227, 227, 227, 1);
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            i {
                font-size: 1.8rem;
            }
    
            div {
                font-size: 1.4rem;
                display: flex;
                align-items: center;
    
                i {
                    font-size: 2.4rem;
                    margin-right: 5px;
                }
            }
        }

        .main-wrapper {
            height: calc(100vh - 45px);
            width: 100%;
        }
    }
}  