.manage {
    
    .manage-tools {
        width: 95%;
        margin: 25px 0;
        display: flex;
        justify-content: space-between;

        .search-container {

            form {

                input {
                    height: 30px;
                    width: 140px;
                    padding: 0 3px;
                    font-size: 1.2rem;
                    border: 1px solid grey;
                    float: left;
                    background: #f1f1f1;
                }

                button {
                font-size: 1.2rem;
                line-height: 30px;
                padding: 0 5px;
                background: #0974bb;
                color: #fff;
                border: none;
                font-weight: bold;
                letter-spacing: .5px;

                    i {
                        font-size: 1.6rem;
                    }
                }
            }
        }

        .buttons-container {

            height: 30px;

            button {
                font-size: 1.2rem;
                line-height: 30px;
                padding: 0 5px;
                background: #0974bb;
                color: #fff;
                border: none;
                font-weight: bold;
                letter-spacing: .5px;

                i {
                    font-size: 14px;
                    color: #fff;
                }
            }

            
        }

        
    }
    
    .manage-list {
        width: 98%;
        overflow: hidden;
        padding: 10px 0px;
        
        table {
            width: 100%;
            border-collapse: collapse;
            overflow: scroll;

            thead {
                text-align: left;
                border-bottom: 2px solid #d2d3d4;
                
                th {
                    padding: 2px 8px;
                    font-size: 1rem;
                    

                    &:nth-child(1) {
                        display: none;
                    }

                    &:nth-child(5) {
                        display: none;
                    }

                    &:nth-last-child(-n+2) {
                        text-align: center;
                        width: 54px;
                    }
                }
            }

            tbody {

                tr {
                    width: 100%;
                    border-bottom: 1px solid #d2d3d4; 

                    &:nth-child(even){
                        background-color: #fff;
                    }
                }

                td {
                    padding: 2px 8px;
                    font-size: 1rem;
                    cursor: pointer;

                    &:nth-child(1) {
                        display: none;
                    }

                    &:nth-child(2) {
                        height: 35px;

                        a {
                            font-size: 1rem;
                            text-transform: uppercase;
                        }

                        &:nth-child(2) {
                            font-size: 1rem;
                        }

                    }

                    &:nth-child(5) {
                        display: none;
                    }

                    &:nth-last-child(-n+2) {
                        text-align: center;
                    }

                    i {
                        font-size: 1.5rem;
                    }

                }
            }
        }
    }

    @media(min-width: 900px) {

        .manage-tools {
            width: 84%;
            margin: 25px 0;

            .search-container {
                
                form {

                    input {
                        width: 200px;
                        padding: 8px;
                        font-size: 1.4rem;
                    }

                    button {
                        width: 40px;
                        padding: 8px;
                        font-size: 1.4rem;

                        &:hover {
                            background: #1a85cc;
                        }
                    }

                    i {
                        font-size: 1.6rem;
                    }
                }
            }

            .buttons-container {
                padding-right: 20px;
                
                button {
                    height: 30px;
                    width: 140px;
                    font-size: 1.4rem;
                    line-height: 30px;
                    cursor: pointer;

                    &:hover {
                        background: #1a85cc;
                    }

                    i {
                        margin-right: 3px;
                        font-size: 18px;
                    }
                }
                
            }

        }

            .manage-list {
                width: 84%;

                table {

                    thead {
                        font-size: 1.2rem;
    
                        th {
                            padding: 4px 0;

                            &:nth-child(1) {
                                display: block;
                            }

                            &:nth-child(5) {
                                display: block;
                            }
                        }
                    }
    
                    tbody {
    
                        td {
                            padding: 4px 0;
                            font-size: 1.2rem;
    
                            &:nth-child(n) {
                                min-width: 100px;
                            }
    
                            &:nth-child(1) {
                                display: flex;
                                height: 35px;
                                width: 80px;
                                align-items: center;
                                justify-content: center;
                            }
    
                            &:nth-child(2) {
                                width: 20%;
                                height: 35px;
        
                                a {
                                    font-size: 1.2rem;
                                    text-transform: uppercase;
                                }
        
                                &:nth-child(2) {
                                    font-size: 1.2rem;
                                }
        
                            }
    
                            &:nth-child(3) {
                                width: 15%;
                            }

                            &:nth-child(4) {
                                width: 15%;
                            }

                            &:nth-child(5) {
                                display: block;
                            }
        
                            &:nth-child(6) {
                                width: 25%;
                            }

                            i {
                                font-size: 2rem;
                            }
                            
                        }
                    }
                }
            }
    }
}