.project {
	height: calc(100vh - 50px);
	width: 100%;
    display: flex;
    flex-direction: column;
	align-items: space-between;
	justify-content: space-between;
    
    .project-header {
        width: 90%;
        padding: 2px 4px;

        h1 {
            font-size: 2rem;
            margin-bottom: 20px;
        }
    }

	.project-content {
        height: 100%;
        width: 100%;
		// margin-bottom: 20px;
        display: flex;
        overflow: scroll;
        margin-bottom: 20px;

        .project-overwiew {
            height: 100%;
            width: 100%;
            
            .overview-summary {
                background-color: #fff;
                height: 160px;
                margin-bottom: 20px;
                width: 100%;
                display: flex;
                // margin-bottom: 20px;
        
                .summary-diagram {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-right: solid 1px #f4f5f6;
        
                    p {
                        font-size: 1.4rem;
                        font-weight: 600;
                        color: #3558c2;
                    }
        
                }
        
                .summary-double {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    border-left: solid 1px #f4f5f6;
                }
        
            }

            .overview-content {
                height: 100%;
                width: 100%;
                padding: 5px;
                font-size: 1.2rem;
                background-color: #fff;

                h2 {
                    font-size: 1.4rem;
                    text-transform: uppercase;
                    letter-spacing: .5px;
                    font-weight: 600;
                }

                .overview-activity {
                    height: 60px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    
                    div {
                        font-size: 1.2rem;

                        &:nth-child(1) {
                            height: 32px;
                            width: 32px;
                        }

                        &:nth-child(2) {
                            width: 70%;
                        }

                        &:nth-child(3) {
                            color: #bbb;
                        }
                    }
                }
            }
        }

        .project-users {
            height: 100%;
            width: 100%;
            background-color: #fff;
            padding: 5px;

            .users-header {
                height: 30px;
                width: 100%;
                margin-bottom: 20px;
                display: flex;
                justify-content: space-between;

                h2 {
                    font-size: 1.4rem;
                    text-transform: uppercase;
                    letter-spacing: .5px;
                    font-weight: 600;
                }

                button {
                    padding: 0 6px;
                }
            }

            .users-list {
                height: 100%;
                width: 100%;
                padding: 10px 0px;

                table {
                    width: 100%;
                    border-collapse: collapse;
                    overflow: scroll;
                }

                thead {
                    text-align: left;
                    border-bottom: 2px solid #d2d3d4;

                    th {
                        padding: 2px 8px;
                        font-size: 1rem;

                        &:nth-child(4) {
                            text-align: center;
                        }
                    }
                }

                tbody {

                    tr {
                        width: 100%;
                        border-bottom: 1px solid #d2d3d4; 

                        &:nth-child(even){
                            background-color: #fff;
                        }
                    }

                    td {
                        padding: 2px 8px;
                        font-size: 1rem;
                        cursor: pointer;

                        &:nth-child(1) {

                            a {
                                font-size: 1rem;
                                text-transform: uppercase;
                            } 
                        }

                        &:nth-child(4) {
                            text-align: center;

                            i {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }

            
        }
	}

	.nav {
        height: 40px;
        width: 100%;
		background-color: #fff;
		display: flex;

		& div {
			width: 33.33%;
			font-size: 1.2rem;
			border-top: 2px solid #fff;
			display: flex;
			align-items: center;
			justify-content: center;
		}

        .active-border {
            border-top: 2px solid #3558c2;
            color: #3558c2;
            font-weight: 600;
        }
	}

    @media(min-width: 900px) {

        height: 100vh;


    }

    @media(min-width: 1200px) {

        .app {
            grid-template-columns: 14% 1fr;
        }
    }
}