.projects-manage > .manage {
    
    .manage-list > table {

        thead {
            th {

                &:nth-child(1) {
                    margin-left: 5px;
                }
            }
        }

        tbody {

            td {

                &:nth-child(1) {
                    width: 180px;
                    justify-content: flex-start;
                    margin-left: 5px;

                    a {
                        font-size: 1.2rem;
                        color: #000;
                    }
                }

                &:nth-child(6) {
                    width: 100px;
                }
            }
        }
        
    }
}