.projects-manage > .manage {
    
    .manage-list > table {

        thead {
            th {

                &:nth-child(1) {
                    display: block;
                }
            }
        }

        tbody {

            td {

                &:nth-child(1) {
                    height: 33px;
                    
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    

                    a {
                        display: block;
                        height: 100%;
                        font-size: 1rem;
                        font-weight: bold;
                        color: #000;   
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;                                             
                    }

                    @media(min-width: 900px){
                        margin-right: 3rem;

                        a {
                            font-size: 1.2rem;
                        }
                    }
                }

                &:nth-child(6) {
                    width: 100px;
                }
            }
        }
        
    }
}