.task {
    display: flex;
    flex-direction: column;
    align-items: center;

    .task-header {
        width: 90%;
        padding: 2px 4px;
        margin-bottom: 20px;

        h1 {
            font-size: 2.4rem;
            margin-bottom: 8px;
        }

        h2 > a{
            margin-left: 2px;
            font-size: 1.2rem;
            color: #777;
            // font-style: italic;
        }
    }

    .task-content {
        height: 100%;
        width: 100%;
        margin: 3rem auto;
        padding: 5px 25px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
        & > div {
            width: 100%;
            margin: 8px 0;
            display: flex;

            & > div {
                font-size: 1.2rem;
            }

            & div:nth-child(1) {
                width: 25%;
                margin-right: 12px;
                text-align: right;
                font-weight: bold;
            }

            & div:nth-child(2) {
                width: 76%;
                color: #434343;
            }

            
        } 

        .task-priority {

            & div:nth-child(1) {
                line-height: 2.1rem;
            }

            & div:nth-child(2) {

                p {
                    padding: 4px;
                    width: 100px;
                    color: #fff;
                    font-size: 1.1rem;
                    font-weight: bold;
                    text-align: center;
                    white-space: nowrap; 
                    text-transform: uppercase;
                    border-radius: 10px;
                }

                .low {                                                                                      
                    background-color: #757575;
                    border: 1px solid #757575;
                }

                .medium {                                            
                    background-color: #71b0f8;
                }

                .high {
                    background-color: #bd7c1b;
                }

                .critical {
                    background-color: #c00a0a;
                }
            }
        }

        .task-status {

            & div:nth-child(1) {
                line-height: 2.1rem;
            }
                
            & div:nth-child(2) {

                p {
                    padding: 4px;
                    width: 100px;
                    color: #fff;
                    font-size: 1.1rem;
                    font-weight: bold;
                    text-align: center;
                    white-space: nowrap; 
                    text-transform: uppercase;
                    border-radius: 10px;
                }

                .grey {                                                                                      
                    background-color: #303030;
                }

                .blue {                                            
                    background-color: #2760db;
                }

                .green {
                    background-color: #097258;
                }
            }
            
        }

        
    }

    @media(min-width: 900px) {

        .task-header {
            padding: 5px 10px;
        }

        .task-content {
            padding: 40px 30px;
            flex-direction: row;
            justify-content: flex-start;

            & > div {
                width: 50%;
                margin: 10px 0;
    
                & div:nth-child(1) {
                    width: 25%;
                    margin-right: 12px;
                    text-align: right;
                    font-weight: bold;
                }
    
                & div:nth-child(2) {
                    width: 50%;
                }
    
                
            } 
        }
    }

    @media(min-width: 1200px) {

        .task-header {
            padding: 10px 15px;
        }

        .task-content {
            padding: 50px 100px;
        }

    }

    @media(min-width: 1600px) {

        .task-content {
            padding: 50px 200px;
        }

    }
}